discodos/__pycache__/
discobase.db
src/
config.yaml
__pycache__
*.swp
curls.txt
*.pyc
.DS_store
issues.txt
debug.log
cli
venv.sh
.vscode
disco
install_cli_system.sh
disco.bat
discoshell.bat
setup.bat
sync.bat
build/
dist/
discodos-*tar.gz
discodos.egg-info/
.eggs/
ChangeLog
AUTHORS
build_app/
dist_app/
DiscoDOS-*-macOS.dmg
.python-version
