#sales-price {
    border: double orange;
    width: auto;
}

DataTable Column {
    overflow-x: auto; /* Prevents text from spilling out */
}

.centered {
    align: center top;
}

#upper-area {
    border: solid grey;
}
#lower-area {
    border: solid grey;
}

#lower-left-column {
    align: center top;
    padding: 0;
}

#lower-middle-column {
    align: center top;
    padding: 0;
}

#lower-right-column {
    align: center top;
    padding: 0;
}